---
// Component Imports
import BaseLayout from '../../layouts/BaseLayout.astro';
import Slider from '../../components/Slider.vue';
import renderImage from "astro-imagetools/renderImage";

// Generate all the Film pages

export async function getStaticPaths() {

  // get films for 2022 from the API
  const data = await fetch('https://astro-api.tiptopweb.com.au/query-films?year=2022&format=json').then(response => response.json());
  
  return await Promise.all(data.results.map(async (film) => {
  
      let filmDescription = film.cpxTitle.englishTitle + " is showing at the Alliance Francaise French Film Festival 2022. " +
         "Directed by " + film.cpxParam.director +  " and starring " + film.cpxParam.cast;
      
      const filmImages = await Promise.all(film.media
          .filter((media) => media.type == 0 && media.cpxParam.images.small)
          .map(async (media) => {
          
             const { image, link, style } = await renderImage({
                 src: "https:" + media.cpxParam.blobContainer + "/" + media.cpxParam.images.small.blobFileName,
                 alt: "Image " + media.id,
                 width: 430,
                 height: 240,
                 layout: "fixed",
                 loading: "eager",
                 format:[]
             });
             
             return { 
                html: link + style + image,
                id: media.id
             };  
          }));
                
      //console.log(filmImages);
      
      return {
        params: { slug: film.urlKey },
        props: { film, filmDescription, filmImages },
      };
    }));
}

const { slug } = Astro.request.params 
const { film, filmDescription, filmImages } = Astro.props;
---

<BaseLayout title={film.cpxTitle.englishTitle} description={filmDescription}>

    <p class="py-4"><a class="underline text-green-800 hover:text-orange-600" href="/">back to list of films</a></p>
    
    <Slider client:load slides={filmImages}></Slider>
         
    <h1 class="text-4xl py-4">{film.cpxTitle.englishTitle}</h1>
    <h2 class="text-2xl">{film.cpxTitle.frenchTitle}</h2>
    
    <p class="pt-4">DIRECTED BY: {film.cpxParam.director?.toUpperCase()}</p>
    <p class="pt-2">STARRING: {film.cpxParam.cast?.toUpperCase()}</p>
    
    <div class="py-4" set:html={film.cpxText.englishSynopsis.replaceAll('<p>', '<p class="text-justify">')} />
    
</BaseLayout>